@font-face {
  font-family: Ailerons;
  src: url('src/Ailerons-Regular.otf');
}
/*const colors = ["#00bdff", "#4d39ce", "#088eff"];*/
html, body{
  min-height:100%;
  max-width:100%;
  overflow-x:hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling:touch;
}

.landing{
  height:100vh;
  border: 1px dotted transparent;
  background-color:white;
}

.title{
  position:absolute;
  top: 25%;
  left: 10%;
  font-family: Verdana, sans-serif;
  font-size: 2rem;
}

.landing-text{
  position:static;
  font-family: Verdana, sans-serif;
  font-size: 2rem;
  color: grey;
  height:100%
}
.landing .row{
  margin-top: 3%;
  height:70%;
}
.canv-img{
  height:100%
}

.nav-item .font-weight-bold{
  color: grey;
  transition: color 0.5s;
}
.nav-item .font-weight-bold:hover{
  color: #00bdff;
}
.navbar-brand{
  font-family: Ailerons;
  font-size: 2rem
}
#resume{
  border: 2px solid #00bdff;
  border-radius:10px;
}
#resume:hover{
  background-color: #00bdff;

}
#resume .font-weight-bold{
  color:  #00bdff;
}
#resume:hover .font-weight-bold{
  color: white;
}
.navbarSupportedContent{
  height:100vh;
  text-align:center;
}
.down-arrow{
  display:flex;
  width:100%;
  justify-content: center;
}
.page{
  min-height:100vh;
  font-family:Verdana;
  color: grey;
}
.project{
  margin-top:10vh;
  margin-bottom: 10vh;
  height:30vh;
  border: 1px solid transparent;
  box-shadow: 0px 10px 10px 1px grey;
  transition: margin 0.1s, box-shadow 0.1s, height 0.5s, border 0.5s;
  overflow:hidden;
}
/*.project:active{
  margin-top:calc(10vh + 10px);
  box-shadow: 0px 4px 5px 1px grey;
  height: 60%;
}*/
.project:hover{
  border: 2px solid #088eff;
  border-radius: 5px;
}
.image-holder{
  background-size: cover;
  height:30vh;
}
#img1{
  background-image:url('src/seatingchart.png');
}
#img2{
  background-image:url('src/django.gif');
}
#img3{
  background-image:url('src/chatbot.png');
}
#img4{
  background-image:url('src/crossy.PNG');
}
#img5{
  background-image:url('src/AppInventor.png');
  background-position: 20% 70%;
}
#img6{
  background-image:url('src/TAPic2.PNG');
}
#img7{
  background-image:url('src/rocket.JPG');
  background-position: 10%;
}
#img8{
  background-image:url('src/solarhydrocar.PNG');
}
.item{
  height: auto;
  overflow:auto;
}
.item-text{
  height: auto;
}
.divide{
  background-color:#4d39ce;
  width:70%
}
.intrested{
  background-color: grey;
  clip-path: polygon(0 0%, 0 100%, 100% 100%, 100% 0%);
  height:auto;
  display:block;
  overflow:auto;
  width:100%;
  color:white;
  padding:50px
}
.profile{
  border-radius: 50%;
  height:30vh;
  box-shadow: 0px 5px 5px 5px grey;
}
.about-text{
  font-family: Verdana, sans-serif;
  font-size: 1.25rem;
  color: grey;
  height:100%
}
.abt-row{
  min-height:90vh;
  text-align:center;
}
@media (max-width: 450px){
  .landing-text{

  }
  .canv-img{
    display:none;
  }
  .image-holder{
    height: 20vh;
  }
  .text{
    height:30vh;
  }
}
